 <!--Pop-up fin de la partie : à placer dans une boucle)-->
        <h3 class="ui-widget-header ui-corner-all">{{ winner }}</h3>
        <!--<h3  class="ui-widget-header ui-corner-all">Vous avez perdu $oPl</h3>
        <p>{# Board->getScoreWhite() #} pions blancs</p>
        <p>{# Board->getScoreBlack() #} pions noirs</p>-->

        <p>
            Voulez-vous rejouer?
        </p>
        <!--Redirection vers une nouvelle partie-->
        <!--<a href={# path('') #}--><button type="button" class="button">Oui</button><!--</a>-->
        <!--Quitter partie = ferme $_Session-->
        <!--<a href={# path('') #}--><button type="button" class="button">Non</button><!--</a>-->