{% extends "AfpaOthelloGameBundle::layout.html.twig" %}

{% block title %}AfpaOthelloGameBundle:Game:home{% endblock %}

{% block body %}

    <h1>Welcome at the Othello Game:home page</h1>

    <table>
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
        </tr>
        {% set numLigne = 1 %}
        {% for ligne in board %}
            <tr>
                <th>{{ numLigne }}</th>
                    {% for col in ligne %}
                    <td id="L0C0">
                        {% if col != '' %}
                            <img src="{{asset("bundles/afpaothellogame/images/" ~ col)}}"/>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% set numLigne = numLigne+1 %}
        {% endfor %}

    </table>

{% endblock %}

