{% extends "AfpaOthelloGameBundle::layout.html.twig" %}

{% block title %}AfpaOthelloGameBundle:Game:home{% endblock %}

{% block body %}

    <h1>Welcome at the Othello Game:home page</h1>

    <table>
        <tr>
            <th></th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>D</th>
            <th>E</th>
            <th>F</th>
            <th>G</th>
            <th>H</th>
        </tr>
        <tr>
            <th>1</th>
            <td id="L0C0"></td>
            <td id="L0C1"></td>
            <td id="L0C2"></td>
            <td id="L0C3"></td>
            <td id="L0C4"></td>
            <td id="L0C5"></td>
            <td id="L0C6"></td>
            <td id="L0C7"></td>
        </tr>
        <tr>
            <th>2</th>
            <td id="L1C0"></td>
            <td id="L1C1"></td>
            <td id="L1C2"></td>
            <td id="L1C3"></td>
            <td id="L1C4"></td>
            <td id="L1C5"></td>
            <td id="L1C6"></td>
            <td id="L1C7"></td>
        </tr>
        <tr>
            <th>3</th>
            <td id="L2C0"></td>
            <td id="L2C1"></td>
            <td id="L2C2"></td>
            <td id="L2C3"></td>
            <td id="L2C4"></td>
            <td id="L2C5"></td>
            <td id="L2C6"></td>
            <td id="L2C7"></td>
        </tr>
        <tr>
            <th>4</th>
            <td id="L3C0"></td>
            <td id="L3C1"></td>
            <td id="L3C2"></td>
            <td id="L3C3"></td>
            <td id="L3C4"></td>
            <td id="L3C5"></td>
            <td id="L3C6"></td>
            <td id="L3C7"></td>
        </tr>
        <tr>
            <th>5</th>
            <td id="L4C0"></td>
            <td id="L4C1"></td>
            <td id="L4C2"></td>
            <td id="L4C3"></td>
            <td id="L4C4"></td>
            <td id="L4C5"></td>
            <td id="L4C6"></td>
            <td id="L4C7"></td>
        </tr>
        <tr>
            <th>6</th>
            <td id="L5C0"></td>
            <td id="L5C1"></td>
            <td id="L5C2"></td>
            <td id="L5C3"></td>
            <td id="L5C4"></td>
            <td id="L5C5"></td>
            <td id="L5C6"></td>
            <td id="L5C7"></td>
        </tr>
        <tr>
            <th>7</th>
            <td id="L6C0"></td>
            <td id="L6C1"></td>
            <td id="L6C2"></td>
            <td id="L6C3"></td>
            <td id="L6C4"></td>
            <td id="L6C5"></td>
            <td id="L6C6"></td>
            <td id="L6C7"></td>
        </tr>
        <tr>
            <th>8</th>
            <td id="L7C0"></td>
            <td id="L7C1"></td>
            <td id="L7C2"></td>
            <td id="L7C3"></td>
            <td id="L7C4"></td>
            <td id="L7C5"></td>
            <td id="L7C6"></td>
            <td id="L7C7"></td>
        </tr>

    </table>
{% endblock %}

