{% extends "AfpaOthelloGameBundle::layout.html.twig" %}

{% block title %}AfpaOthelloGameBundle:Game:home{% endblock %}

{% block body %}

    <h1>Welcome at the Othello Game:home page</h1>


{% endblock %}

