{% extends "AfpaOthelloGameBundle::layout.html.twig" %}

{% block title %}AfpaOthelloGameBundle:Game:home{% endblock %}

{% block body %}

    <div id="game">
        {{ render(controller('AfpaOthelloGameBundle:Game:gameView')) }}
    </div>


    <div id="popup" class="ui-widget-content ui-corner-all"></div>


    <aside>
        <h3>Règles du jeu d'Othello</h3>
        <p>"Othello est un jeu de stratégie à deux joueurs : Noir et Blanc. Il se joue sur un plateau unicolore de 64 cases, 8 sur 8, appelé othellier. Ces joueurs disposent de 64 pions bicolores, noirs d'un côté et blancs de l'autre.  Par commodité, chaque joueur a devant lui 32 pions mais ils ne lui appartiennent pas et il doit en donner à son adversaire si celui-ci n'en a plus. Un pion est noir si sa face noire est visible et blanc si sa face blanche est sur le dessus."
            <br/></br><a id="rules" href ="http://www.ffothello.org/othello/regles-du-jeu/" target="_blank">Règles du jeu</a> <span>(nouvelle fenêtre)</span>
        </p>
        <button id="resetBtn" class="ui-widget-content ui-corner-all">Recommencer la partie</button>
    </aside>
{% endblock %}

