{% extends "AfpaOthelloGame::layout.html.twig" %}

{% block title %}AfpaOthelloGameBundle:User:login{% endblock %}

{% block body %}
    <h1>Welcome at the User:login page</h1>


{% endblock %}{# empty Twig template #}
