{% extends "AfpaOthelloGameBundle::layout.html.twig" %}

{% block title %}AfpaOthelloGameBundle:Game:home{% endblock %}

{% block body %}
    <h1>Connectez-vous :</h1>

    {{form_errors(login)}}
    <form method="POST">
        {{form_widget(login)}}
        <input class="envoyer" type="submit"/>
    </form>


{% endblock %}{# empty Twig template #}
