{% extends "AfpaOthelloGameBundle::layout.html.twig" %}

{% block title %}AfpaOthelloGameBundle:User:register{% endblock %}

{% block body %}
    <h1>Welcome at the User:register page</h1>

{% endblock %}{# empty Twig template #}
