<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/afpaothellogame/css/global.css')}}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <header>
        <h1>Othello</h1>
        <!--<a href={# path('login') #}--><button type="button">login</button><!--</a>-->
        <!--<a href={# path('register') #}--><button type="button">New player</button><!--</a>-->
        <img src="{{asset("bundles/afpaothellogame/images/4pions.jpg")}}"/>
    </header>

    {% block body %}



    {% endblock %}

    <footer>
        <p>Copyright © 2016</p>
    </footer>

{% block javascripts %}{% endblock %}
<script type="text/javascript" src="{{asset ('bundles/afpaothellogame/js/leslibconcerner.js')}}"></script>
</body>
</html>
